:root{
  --muneeyy-font-family: 'Montserrat', sans-serif;
  --muneeyy-font-weight: 400;
  --muneeyy-line-height: 1;
  --muneeyy-font-size : 62.5%;
}

:root {
  --muneeyy-background-color: #DAEBD1;
  --muneeyy-primary-color: #28381e;
  --muneeyy-secondary-color: #85BB65;
  --muneeyy-tertiary-color: #C2DDB2;
  --muneeyy-border: #28381e; 
}
