* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--muneeyy-font-size);
}

body {
  font-family: var(--muneeyy-font-family);
  font-weight: var(--muneeyy-font-weight);
  background-color: var(--muneeyy-background-color);
  line-height: var(--muneeyy-line-height);
  color: var(--muneeyy-color);
}

.container {
  border: 3px solid var(--muneeyy-border);
  max-width: 40rem;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input {
  box-sizing: border-box;
  background-color: var(--muneeyy-tertiary-color);
  outline: none;
  border: 2px solid var(--muneeyy-primary-color);
  border-radius: 5px;
  padding: 1rem;
}

button {
  color: var(--muneeyy-background-color);
  background-color: var(--muneeyy-primary-color);
  padding: 1rem 5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}