.main-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.main-title h1 {
  font-size: 3rem;
  font-weight: 700;
}

.main-title p {
  font-size: 1.6rem;
}

.balances {
  background-color: var(--muneeyy-primary-color);
  color: var(--muneeyy-background-color);
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.total-balance,
.income,
.expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  font-weight: 700;
}

.total-balance p {
  font-size: 3rem;
}

.balance {
  display: flex;
  justify-content: space-around;
}

.income p,
.expense p {
  font-size: 2rem;
}

.transaction {
  margin-bottom: 1.5rem;
}

.name-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

h2,
form,
.amount-date {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.transaction p {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 1.5rem;
}

.transaction p:nth-child(2) {
  color: var(--muneeyy-secondary-color);
}

.name-amount + span {
  padding-left: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--muneeyy-tertiary-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.option span {
  color: var(--muneeyy-background-color);
  width: 50%;
  border-radius: inherit;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1;
}

.option::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--muneeyy-primary-color);
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  transform: translateX(5px);
  border-radius: inherit;
  transition: all 200ms;
}

input#type:checked ~ .option::before {
  left: 50%;
}

.name {
  display: flex;
  flex-direction: column;
}

.amount-date {
  display: flex;
  gap: 1rem;
}

.amount,
.date {
  display: flex;
  flex-direction: column;
}

input#type {
  appearance: none;
  position: absolute;
}

input[type='date'] {
  width: 16.2rem;
}

button[type='submit'] {
  width: 100%;
  font-weight: 700;
}
