:root {
  --muneeyy-font-family: 'Montserrat', sans-serif;
  --muneeyy-font-weight: 400;
  --muneeyy-line-height: 1;
  --muneeyy-font-size: 62.5%;
}

:root {
  --muneeyy-background-color: #daebd1;
  --muneeyy-primary-color: #28381e;
  --muneeyy-secondary-color: #85bb65;
  --muneeyy-tertiary-color: #cee4c1;
  --muneeyy-quaternary-color: #c92a2a;
  --muneeyy-border: #28381e;
}
